@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* Page layout of the header, content, and footer */
html, body, #root {
    height: 100vh;
}
#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr min-content;
    grid-template-areas:
        'header'
        'main'
        'footer';
}
/* This is equivalent to `main`, but also works on docs pages with a sidebar */
header {
    position: fixed;
    top: 0;
    z-index: 99;
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* These paths are relative to `.perseus/static` */
.bg-welcome {
    background-image: url("./welcome_bg.svg");
}
.bg-competition {
    background-image: url("./competition_wave.svg");
}
.bg-primary-1 {
    background-image: url("./team.avif");
}
.bg-primary-2 {
    background-image: url("./participants.avif");
    /* Captures actual participants while avoiding blurred face on most screens */
    background-position: 45% center;
}
.bg-primary-3 {
    background-image: url("./presenting.avif");
}
.bg-about {
    background-image: url("./about_bg.svg");
}
.link-color {
    background-blend-mode: lighten;
}

/* Fix the scroll targets with a fixed-position header */
section {
    scroll-margin-top: 80px;
}
